one/input.txt
two/input.txt
three/input.txt
four/input.txt
five/input.txt
six/input.txt
seven/input.txt
eight/input.txt
nine/input.txt
ten/input.txt
eleven/input.txt
twelve/input.txt
thirteen/input.txt
fourteen/input.txt
fifteen/input.txt
sixteen/input.txt
seventeen/input.txt
eightteen/input.txt
nineteen/input.txt
twenty/input.txt
twentyone/input.txt
twentytwo/input.txt
twentythree/input.txt
twentyfour/input.txt
twentyfive/input.txt