five/input.txt
four/input.txt
one/input.txt
three/input.txt
two/input.txt
six/input.txt
seven/input.txt
eight/input.txt
nine/input.txt
ten/input.txt
eleven/input.txt
twelve/input.txt
thirteen/input.txt
fourteen/input.txt